@import "normalize.scss";

// === mixins ===
@mixin font-main {
  font-family: "Roboto", sans-serif;
}

// === / mixing ===

// === variables ===
$color-white: #ffffff;
$color-blue: #435993;
$color-black: #000000;
$color-gray: #c8c8c8;
$color-brown: #3c302b;
$color-gray-light: #e8e8e8;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-md-max: 767px;
$screen-lg-max: 991px;
$screen-xl-max: 1199px;

@media (max-width: $screen-xs-max) {
  .desktop-only {
    display: none !important;
  }
}

/* Desktop */
@media (min-width: $screen-sm) {
  .mobile-only {
    display: none !important;
  }
}

// === / variables ===

// === common ===
* {
  box-sizing: border-box;
}
body {
  @include font-main;
}

.inside {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 768px;
  @media (max-width: $screen-xs-max) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

// === / common ===

// === header ===
.header {
  color: $color-white;
  background: url("./assets/background.jpg") no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &::before {
    content: "";
    background-image: linear-gradient(
      to top,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0.91),
      rgba(255, 255, 255, 0.82),
      rgba(255, 255, 255, 0.73),
      rgba(255, 255, 255, 0.64),
      rgba(255, 255, 255, 0.55),
      rgba(255, 255, 255, 0.45),
      rgba(255, 255, 255, 0.36),
      rgba(255, 255, 255, 0.27),
      rgba(255, 255, 255, 0.18),
      rgba(255, 255, 255, 0.09),
      rgba(255, 255, 255, 0)
    );
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
  }
  &__wrapper {
    align-items: center;
    background-color: $color-white;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
    z-index: 10;
    @media (max-width: $screen-xs-max) {
      display: flex;
      flex-direction: column;
    }

    span {
      padding: 0;
      margin: 0;
    }
  }
  &__menu {
    @media (max-width: $screen-xs-max) {
      display: none;
    }

    &--open {
      @media (max-width: $screen-xs-max) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
      }
    }

    &-link {
      color: $color-blue;
      font-size: 14px;
      font-weight: 400;
      margin: 0 40px;
      text-decoration: none;
      transition: 0.2s;

      @media (max-width: $screen-xs-max) {
        margin-bottom: 20px;
      }

      &.active,
      &:hover {
        color: $color-black;
      }
    }
  }

  &__title {
    margin-top: 120px;
    z-index: 10;
    h1 {
      color: $color-black;
      font-size: 70px;
      font-weight: 100;
    }
  }
}

// === / header ===

// === profile ===
.profile {
  padding-bottom: 70px;
  padding-top: 70px;

  &__title {
    text-align: center;
    margin-bottom: 48px;

    img {
      margin-bottom: 30px;
    }

    h3 {
      color: $color-black;
      font-size: 30px;
      font-weight: 300;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    @media (min-width: $screen-sm) {
      width: 520px;
    }
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }

    &-name,
    &-place,
    &-skype,
    &-email {
      // padding-top: 20px;
      // padding-bottom: 20px;
      border: 1px solid $color-gray-light;
      border-radius: 4px;
      font-size: 24px;
      outline: none;
      text-align: center;
      width: 100%;
      height: 60px;
      @media (max-width: $screen-xs-max) {
        font-size: 16px;
      }

      &:not(:last-child) {
        margin-bottom: 26px;
      }

      &::placeholder {
        color: $color-gray;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        @media (max-width: $screen-xs-max) {
          font-size: 16px;
        }
      }

      &:focus {
        border: 1px solid $color-blue;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

// === / profile ===

// === experience ===
.experience {
  &__title {
    text-align: center;
    margin-bottom: 48px;

    img {
      margin-bottom: 30px;
    }

    h3 {
      color: $color-black;
      font-size: 30px;
      font-weight: 300;
    }
  }
  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media (max-width: $screen-xs-max) {
      flex-direction: column;
      align-items: flex-start;
    }

    &-checkboxs {
      display: flex;
      flex-direction: column;
    }

    &-checkbox {
      display: flex;
      cursor: pointer;
      position: relative;
      margin-bottom: 16px;
      align-items: center;
      justify-content: flex-start;

      & > span {
        margin-left: 16px;
      }

      & > input {
        height: 20px;
        width: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        border-radius: 3px;
        outline: none;
        transition-duration: 0.3s;
        border: 1px solid $color-blue;
        background-color: $color-white;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          background-color: #e9efff;
        }
      }

      & > input:checked {
        background-color: $color-blue;
      }

      & > input:checked + span::before {
        content: url("./assets/checkImg.png");
        display: block;
        text-align: center;
        position: absolute;
        left: 4px;
        top: 0;
      }
    }

    p {
      color: $color-black;
      font-size: 16px;
      font-weight: 300;
    }
  }
}

// === / experience ===

// === skill ===
.skill {
  padding-top: 130px;
  padding-bottom: 70px;

  &__title {
    text-align: center;
    margin-bottom: 48px;

    img {
      margin-bottom: 30px;
    }

    h3 {
      color: $color-black;
      font-size: 30px;
      font-weight: 300;
    }
  }
  &__mark {
    &-text {
      justify-content: flex-start;
      color: $color-brown;
      display: flex;
      font-size: 12px;
      font-weight: 300;
      line-height: 18px;

      p:nth-child(1) {
        margin-right: 124px;
      }

      p:nth-child(2) {
        margin-right: 86px;
      }

      p:nth-child(3) {
        margin-right: 86px;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    img {
      display: none;
    }
  }
}

// === / skill ===

// === pers-information ===

.pers-information {
  padding-bottom: 74px;
  &__title {
    text-align: center;
    margin-bottom: 40px;

    img {
      margin-bottom: 30px;
    }

    h3 {
      color: $color-black;
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 26px;
    }
    p {
      color: $color-black;
      font-size: 16px;
      font-weight: 300;
      margin: 0 auto;
      line-height: 24px;

      @media (min-width: $screen-sm) {
        width: 66%;
      }
    }
  }

  &__action {
    margin: 0 auto;
    max-width: 520px;
    text-align: center;
    &-textarea {
      background-color: $color-white;
      border: 2px solid $color-gray-light;
      border-radius: 4px;
      color: $color-gray-light;
      font-size: 20px;
      height: 180px;
      margin-bottom: 70px;
      outline: none;
      padding: 20px;
      resize: none;
      width: 100%;

      &::placeholder {
        color: #c8c8c8;
        font-size: 20px;
      }
    }
    &-button {
      background: $color-blue;
      border: 2px solid $color-blue;
      color: $color-white;
      transition: 0.2s;

      border-radius: 6px;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: 300;
      margin: 0;
      outline: none;
      padding: 16px 34px;
      text-decoration: none;

      &:hover {
        background: $color-white;
        border: 2px solid $color-blue;
        color: $color-blue;
      }
    }
  }
}

// === / pers-information ===
