@import "normalize.scss";

// === mixins ===
@mixin font-main {
  font-family: "Roboto", sans-serif;
}

// === / mixing ===

// === variables ===
$color-white: #ffffff;
$color-blue: #435993;
$color-black: #000000;
$color-gray: #c8c8c8;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-md-max: 767px;
$screen-lg-max: 991px;
$screen-xl-max: 1199px;

// === / variables ===

// === common ===
* {
  box-sizing: border-box;
}
body {
  @include font-main;
}

.inside {
  margin: 0 auto;
  max-width: 768px;
}
// === / common ===

// === header ===
.header {
  color: $color-white;
  background: url("./assets/background.jpg") no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &::before {
    content: "";
    background-image: linear-gradient(
      to top,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0.91),
      rgba(255, 255, 255, 0.82),
      rgba(255, 255, 255, 0.73),
      rgba(255, 255, 255, 0.64),
      rgba(255, 255, 255, 0.55),
      rgba(255, 255, 255, 0.45),
      rgba(255, 255, 255, 0.36),
      rgba(255, 255, 255, 0.27),
      rgba(255, 255, 255, 0.18),
      rgba(255, 255, 255, 0.09),
      rgba(255, 255, 255, 0)
    );
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
  }

  &__menu {
    align-items: center;
    background-color: $color-white;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
    z-index: 10;

    &-link {
      color: $color-blue;
      font-size: 14px;
      font-weight: 400;
      margin: 0 40px;
      text-decoration: none;
      transition: 0.2s;

      &.active,
      &:hover {
        color: $color-black;
      }
    }
  }

  &__title {
    margin-top: 120px;
    z-index: 10;
    h1 {
      color: $color-black;
      font-size: 70px;
      font-weight: 100;
    }
  }
}

// === / header ===

// === profile ===
.profile {
  color: $color-white;
  padding-bottom: 70px;
  padding-top: 70px;

  .inside {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    margin-bottom: 48px;

    img {
      margin-bottom: 30px;
    }

    h3 {
      color: $color-black;
      font-size: 30px;
      font-weight: 100;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 520px;

    &-name,
    &-year,
    &-place,
    &-skype,
    &-email {
      padding-top: 20px;
      padding-bottom: 20px;
      border: 1px solid $color-gray;
      border-radius: 4px;
      outline: none;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 26px;
      }

      &::placeholder {
        color: $color-gray;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
      }
    }

    &-year {
      width: 60%;
      border: 1px solid $color-gray;
      background-color: $color-white;
      color: $color-gray;
      font-size: 24px;
      padding-left: 80px;
      font-weight: 400;
      -webkit-appearance: none;
      background-image: url("./assets/arrowImg.png");
      background-position: 95% center;
      background-repeat: no-repeat;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: "";
      /* for IE */
      -ms-appearance: none;
      appearance: none !important;


      &::-ms-expand {
        display: none;
      }
    }
  }
}

// === / profile ===

// === experience ===
.experience {
  color: $color-white;

  .inside {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    margin-bottom: 48px;

    img {
      margin-bottom: 30px;
    }

    h3 {
      color: $color-black;
      font-size: 30px;
      font-weight: 100;
    }
  }
  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &-checkboxs {
      display: flex;
    flex-direction: column;
  }
  &-checkbox {
    display: flex;
    margin-bottom: 16px;
    input {
      margin-right: 12px;
    }
      p{
        color: $color-black;
        font-size: 16px;
        font-weight: 300;

      }
    }

  }

}

// === / experience ===

// === skill ===

// === / skill ===

// === pers-information ===

// === / pers-information ===
